In [1]:
# Import all the necessary libraries

import numpy as np
import pandas as pd
from datetime import datetime as dt
import itertools

%matplotlib inline

In [2]:
# Read data from the CSV into a dataframe

raw_data_1 = pd.read_csv('resource\\2007-08.csv')
raw_data_2 = pd.read_csv('resource\\2008-09.csv')
raw_data_3 = pd.read_csv('resource\\2009-10.csv')
raw_data_4 = pd.read_csv('resource\\2010-11.csv')
raw_data_5 = pd.read_csv('resource\\2011-12.csv')
raw_data_6 = pd.read_csv('resource\\2012-13.csv')
raw_data_7 = pd.read_csv('resource\\2013-14.csv')
raw_data_8 = pd.read_csv('resource\\2014-15.csv')
raw_data_9 = pd.read_csv('resource\\2015-16.csv')
raw_data_10 = pd.read_csv('resource\\2016-17.csv')
raw_data_11 = pd.read_csv('resource\\2017-18.csv')
raw_data_12 = pd.read_csv('resource\\2018-19.csv')
raw_data_13 = pd.read_csv('resource\\2019-20.csv')
raw_data_14 = pd.read_csv('resource\\2020-21.csv')
raw_data_15 = pd.read_csv('resource\\2021-22.csv')

In [3]:
# Parse data as time 

def parse_date(date):
    if date == '':
        return None
    else:
        return dt.strptime(date, '%d/%m/%y').date()
    

def parse_date_other(date):
    if date == '':
        return None
    else:
        return dt.strptime(date, '%d/%m/%Y').date()

raw_data_1.Date = raw_data_1.Date.apply(parse_date)    
raw_data_2.Date = raw_data_2.Date.apply(parse_date)    
raw_data_3.Date = raw_data_3.Date.apply(parse_date)         # The date format for this dataset is different  
raw_data_4.Date = raw_data_4.Date.apply(parse_date)    
raw_data_5.Date = raw_data_5.Date.apply(parse_date)    
raw_data_6.Date = raw_data_6.Date.apply(parse_date)    
raw_data_7.Date = raw_data_7.Date.apply(parse_date)    
raw_data_8.Date = raw_data_8.Date.apply(parse_date)    
raw_data_9.Date = raw_data_9.Date.apply(parse_date_other)    
raw_data_10.Date = raw_data_10.Date.apply(parse_date)
raw_data_11.Date = raw_data_11.Date.apply(parse_date_other)
raw_data_12.Date = raw_data_12.Date.apply(parse_date_other)
raw_data_13.Date = raw_data_13.Date.apply(parse_date_other)
raw_data_14.Date = raw_data_14.Date.apply(parse_date_other)
raw_data_15.Date = raw_data_15.Date.apply(parse_date_other)

In [4]:
#Gets all the statistics related to gameplay
                      
playing_statistics_1 = raw_data_1                     
playing_statistics_2 = raw_data_2
playing_statistics_3 = raw_data_3
playing_statistics_4 = raw_data_4
playing_statistics_5 = raw_data_5
playing_statistics_6 = raw_data_6
playing_statistics_7 = raw_data_7
playing_statistics_8 = raw_data_8
playing_statistics_9 = raw_data_9
playing_statistics_10 = raw_data_10
playing_statistics_11 = raw_data_11
playing_statistics_12 = raw_data_12
playing_statistics_13 = raw_data_13
playing_statistics_14 = raw_data_14
playing_statistics_15 = raw_data_15

FINAL DATAFRAME

In [5]:
playing_stat = pd.concat([playing_statistics_1,
                          playing_statistics_2,
                          playing_statistics_3,
                          playing_statistics_4,
                          playing_statistics_5,
                          playing_statistics_6,
                          playing_statistics_7,
                          playing_statistics_8,
                          playing_statistics_9,
                          playing_statistics_10,
                          playing_statistics_11,
                          playing_statistics_12,
                          playing_statistics_13,
                          playing_statistics_14,
                          playing_statistics_15],                          
                         ignore_index = True)

In [6]:
playing_stat

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,2007-08-11,Aston Villa,Liverpool,1,2,A,0,1,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,2007-08-11,Bolton,Newcastle,1,3,A,0,3,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,2007-08-11,Derby,Portsmouth,2,2,D,1,1,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,2007-08-11,Everton,Wigan,2,1,H,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,2007-08-11,Middlesbrough,Blackburn,1,2,A,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5695,E0,2022-05-22,Crystal Palace,Man United,1,0,H,1,0,H,...,2.04,0.25,1.68,2.15,1.74,2.23,1.88,2.25,1.74,2.16
5696,E0,2022-05-22,Leicester,Southampton,4,1,H,0,0,D,...,2.63,-0.75,1.83,2.07,1.88,2.03,1.94,2.26,1.87,2.01
5697,E0,2022-05-22,Liverpool,Wolves,3,1,H,1,1,D,...,3.28,-2.50,2.02,1.77,2.06,1.83,2.19,1.99,2.07,1.80
5698,E0,2022-05-22,Man City,Aston Villa,3,2,H,0,1,A,...,3.36,-2.25,2.06,1.84,2.05,1.86,2.09,2.03,2.01,1.87
5699,E0,2022-05-22,Norwich,Tottenham,0,5,A,0,2,A,...,2.40,1.50,1.95,1.95,1.96,1.94,2.16,1.98,1.99,1.89

In [7]:
print(playing_stat.count())
print(playing_stat.shape)

Div         5700
Date        5700
HomeTeam    5700
AwayTeam    5700
FTHG        5700
            ...
PCAHA       1140
MaxCAHH     1140
MaxCAHA     1140
AvgCAHH     1140
AvgCAHA     1140
Length: 139, dtype: int64
(5700, 139)

In [8]:
playing_stat = playing_stat.dropna(axis=1)
print(playing_stat.count())

Div         5700
Date        5700
HomeTeam    5700
AwayTeam    5700
FTHG        5700
FTAG        5700
FTR         5700
HTHG        5700
HTAG        5700
HTR         5700
Referee     5700
HS          5700
AS          5700
HST         5700
AST         5700
HF          5700
AF          5700
HC          5700
AC          5700
HY          5700
AY          5700
HR          5700
AR          5700
B365H       5700
B365D       5700
B365A       5700
VCH         5700
VCD         5700
VCA         5700
dtype: int64

In [9]:
playing_stat

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HY,AY,HR,AR,B365H,B365D,B365A,VCH,VCD,VCA
0,E0,2007-08-11,Aston Villa,Liverpool,1,2,A,0,1,A,...,4,2,0,0,4.00,3.25,1.90,3.50,3.20,2.00
1,E0,2007-08-11,Bolton,Newcastle,1,3,A,0,3,A,...,1,1,0,0,2.50,3.20,2.75,2.30,3.25,2.90
2,E0,2007-08-11,Derby,Portsmouth,2,2,D,1,1,D,...,1,2,0,0,2.80,3.25,2.40,2.70,3.25,2.40
3,E0,2007-08-11,Everton,Wigan,2,1,H,1,0,H,...,0,0,0,0,1.66,3.40,5.50,1.70,3.40,5.00
4,E0,2007-08-11,Middlesbrough,Blackburn,1,2,A,1,0,H,...,3,4,0,0,2.37,3.25,2.87,2.50,3.25,2.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5695,E0,2022-05-22,Crystal Palace,Man United,1,0,H,1,0,H,...,2,4,0,0,3.00,3.60,2.25,3.00,3.50,2.20
5696,E0,2022-05-22,Leicester,Southampton,4,1,H,0,0,D,...,0,1,0,0,1.85,4.00,3.80,1.83,3.80,3.80
5697,E0,2022-05-22,Liverpool,Wolves,3,1,H,1,1,D,...,1,0,0,0,1.14,8.50,15.00,1.13,8.00,19.00
5698,E0,2022-05-22,Man City,Aston Villa,3,2,H,0,1,A,...,0,1,0,0,1.16,8.00,17.00,1.13,7.50,18.00
5699,E0,2022-05-22,Norwich,Tottenham,0,5,A,0,2,A,...,3,1,0,0,9.50,6.50,1.25,11.50,6.00,1.22

In [10]:
playing_stat.to_csv("final_dataset.csv")

### Keys for Dataframe
Div = League Division

Date = Match Date

HomeTeam = Home Team

AwayTeam = Away Team

FTHG = Full Time Home Team Goals

FTAG = Full Time Away Team Goals

FTR  = Full Time Result (H=Home Win, D=Draw, A=Away Win)

HTHG = Half Time Home Team Goals

HTAG = Half Time Away Team Goals

HTR = Half Time Result (H=Home Win, D=Draw, A=Away Win)

Referee = Match Referee

HS = Home Team Shots

AS = Away Team Shots

HST = Home Team Shots on Target

AST = Away Team Shots on Target

HF = Home Team Fouls Committed

AF = Away Team Fouls Committed

HC = Home Team Corners

AC = Away Team Corners

HY = Home Team Yellow Cards

AY = Away Team Yellow Cards

HR = Home Team Red Cards

AR = Away Team Red Cards

B365H = Bet365 home win odds

B365D = Bet365 draw odds

B365A = Bet365 away win odds

VCH = VC Bet home win odds

VCD = VC Bet draw odds

VCA = VC Bet away win odds